* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #292b35;
}

.head {
  max-width: 3000px;
  margin: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s ease;
}

.h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 25pt;
  background: linear-gradient(120deg, #7bb3e7, #fb00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2 {
  text-align: center;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-weight: lighter;
  margin-top: 15px;
}

button {
  width: 180px;
  height: 60px;
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(120deg, #7bb3e7, #fb00ff);
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20pt;

}

.score {
  margin-bottom: 10pt;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(120deg, #7bb3e7, #fb00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 480px) {
  .h1 {
    font-size: 30px;
  }

  .h2 {
    font-size: 10px;
  }

  .intro button {
    width: 150px;
    font-size: 20px;
  }

  .score {
    font-size: 15px;
  }

  button {
    height: 40px;

  }
}

.container {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  margin: auto;
  padding: 20px;
}

.cell div {
  height: 100px;
  border-radius: 4px;

}

.cell {
  position: relative;
  cursor: pointer;

}

#moves-count {
  margin-top: 0;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(120deg, #7bb3e7, #fb00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.front {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  background-color: #011b3440;
  transform: rotateY(90deg);
}

.back {
  background: linear-gradient(120deg, #7bb3e7, #fb00ff);
  border: 2px solid #ffffff;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 5pt;
  border-radius: 4px;

}

.flip {
  transform: rotateY(0deg);
}

.match {
  transform: rotateY(0deg);
}

.show {
  transform: rotateY(0deg);
}

@media screen and (min-width: 600px) {
  .head {
    max-width: 760px;

  }

  .container {
    grid-template-columns: repeat(4, auto);
  }

  .cell div {
    height: 150px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(120deg, #7bb3e7, #fb00ff);
  color: #ffffff;
  padding: 2vh;
}

.button {
  display: inline;
  width: 100px;
  height: 40px;
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(120deg, #7bb3e7, #fb00ff);
  border-radius: 3px;
  cursor: pointer;
}

.inline-buttons {
  display: inline-flex;
  margin-top: 10pt;
}

#initials {
  width: 25%;
  margin: 8px;
  padding: 1vh;
}

#back-button {
  margin-right: 8px;
}

.leaderboard-card {
  text-align: left;
  color: white;
  margin: 30px 80px;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  padding-inline-start: 20px;

}

.inline-form {
  color: white;
  display: block;
  text-align: center;
}

#result {
  margin-top: 25pt;
  font-size: 25pt;
}


@media screen and (max-width: 770px) {

  .leaderboard-card {
    font-size: 15px;
    margin: 0;
    margin-top: 25px;
  }

  #result {
    font-size: 15pt;
  }

  .button {
    width: 70px;
    height: 30px;
    font-size: 10px;
  }

  header {
    font-size: 12px;

  }

  #initials {
    width: 15%;
    height: 15px;
  }

}